{% from 'components/footer/macro.njk' import footer %}
{% from 'components/label/macro.njk' import label %}

{{ footer({
  "list": "nhsuk-footer__list--three-columns",
  "links": [
    {
      "label": "Buyer's Guide"
    },
    {
      "label": "Catalogue Submissions"
    },
    {
      "label": "NHS Digital service desk"
    },
    {
      "label": "NHS Digital"
    },
    {
      "label": "About GPIT Futures"
    },
    {
      "label": "Capabilities and Standards Model"
    }
  ]
})}}

<div data-test-id="legal-label">
  {{ label({
    "text": "Legal Privacy and cookies Set Acceptable Use Policy in Bravo"
  }) }}
</div>