{% from 'components/header/macro.njk' import header %}
{% from 'components/panel/macro.njk' import panel %}

<div data-test-id="terms-banner">
  {{ panel({
    "colour": "grey",
    "HTML": "<div>By using this site you are accepting the General Terms of Use which can be found <a href='pdf/terms.pdf' target='_blank'>here</a>. If you do not agree with these terms you should not use this website</div>",
    "classes": "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 nhsuk-u-padding-left-0 nhsuk-width-container"
  }) }}
</div>

<div data-test-id="header-banner">
  {{ header({
    "classes": "nhsuk-header--white",
    "organisation": {
        "name": "Digital"
      }
    }) }}
</div>
