{% from 'components/header/macro.njk' import header %}

{{ header({
  "transactionalService": {
      "name": "Buying Catalogue",
      "href": "/"
  },
  "showNav": "false",
  "showSearch": "false"
  })
}}
