.bc-c-title-block {
  background-color: $color_nhsuk-grey-5;
  border-bottom: 2px solid $color_nhsuk-blue;
  margin: nhsuk-spacing(5) 0;
  padding-left: nhsuk-spacing(3);
}

.bc-c-foundation-tag {
  display: inline-block;
  color:  $color_nhsuk-white;
  background-color: $color_nhsuk-blue;
  padding: nhsuk-spacing(1) nhsuk-spacing(3);
  font-weight: 600 !important;
}