.header-panel {
    padding: 16px 32px 16px 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-panel {
    padding: 1px 1px 1px 1px;
    margin-top: 0;
    margin-bottom: 0;
}

.legal-panel-color {
    background-color: #d8dde0;
}