{% extends 'includes/layouts/contained.njk' %}
{% from 'components/error-summary/macro.njk' import errorSummary %}
{% from 'components/back-link/macro.njk' import backLink %}

{% block body %}
<div class="nhsuk-width-container nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4 bc-c-error-container nhsuk-u-padding-4">
  <div class="nhsuk-u-padding-top-5 nhsuk-grid-column-one-third" data-test-id="go-to-home-page-link">
    {{ backLink({
      "href": "/" | addBaseUrlFilter,
      "text": "Go to Home Page"
    }) }}
  </div>
  <div class="nhsuk-u-padding-top-5 nhsuk-grid-column-one-third" data-test-id="go-to-capabilities-selector-link">
    {{ backLink({
      "href": "/solutions/capabilities-selector"  | addBaseUrlFilter,
      "text": "Go to Select Capabilities"
    }) }}
  </div>
  <div class="nhsuk-u-padding-top-5 nhsuk-grid-column-one-third" data-test-id="go-to-foundation-solutions-link">
    {{ backLink({
      "href": "/solutions/foundation" | addBaseUrlFilter,
      "text": "Go to Foundation Solutions"
    }) }}
  </div>
  <h1 class="nhsuk-heading-l nhsuk-u-padding-left-3" data-test-id="error-page-title">Error: {{ message }}</h1>
</div>
{% endblock %}
