{% from 'components/label/macro.njk' import label %}

{% macro viewQuestionDataText(questionId, questionData) %}
  {% if questionData %}
    <div data-test-id="view-question-data-text-{{questionId}}">
      {{ label({
        "text": questionData
      }) }}
    </div>
  {% endif %}
{% endmacro %}