{% from 'components/label/macro.njk' import label %}

{% macro viewQuestionDataLink(questionData) %}
  {% if questionData %}
    <a data-test-id="view-question-data-link" href="{{ questionData }}" target="_blank">
      {{ label({
        "text": questionData
      }) }}
    </a>
  {% endif %}
{% endmacro %}