# Node.js with webpack
# Build a Node.js project using the webpack CLI.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- unit-test-reporter

# no PR builds on this file
pr: none

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g webpack webpack-cli --save-dev
    npm install
  displayName: 'npm install'

- script: |
    npm run test
    npm run test:integration
    npx webpack --config webpack.config.js
  displayName: 'unit test'

- task: PublishTestResults@2
  displayName: Publish unit test results
  inputs:
    testResultsFormat: NUnit
    testResultsFiles: '$(System.DefaultWorkingDirectory)/unit-test-report.xml'
    testRunTitle: Unit test results
    failTaskOnFailedTests: true
  condition: succeededOrFailed()

- script: |
    npm run test:integration
    npx webpack --config webpack.config.js
  displayName: 'integration test'

- task: PublishTestResults@2
  displayName: Publish integration test results
  inputs:
    testResultsFormat: NUnit
    testResultsFiles: '$(System.DefaultWorkingDirectory)/integration-test-report.xml'
    testRunTitle: Integration test results
    failTaskOnFailedTests: true
  condition: succeededOrFailed()

- script: |
    npx webpack --config webpack.config.js
  displayName: 'webpack'

- task: DockerInstaller@0
  inputs:
    dockerVersion: '17.09.0-ce'

- task: DockerCompose@0
  inputs:
    containerregistrytype: 'Azure Container Registry'
    azureSubscription: 'NHSAPP-BuyingCatalogue'
    azureContainerRegistry: '{"loginServer":"gpitfutureaksdev.azurecr.io", "id" : "/subscriptions/7b12a8a2-f06f-456f-b6f9-aa2d92e0b2ec/resourceGroups/gpitfuture-aks-dev/providers/Microsoft.ContainerRegistry/registries/gpitfutureaksdev"}'
    dockerComposeFile: '**/docker-compose.yml'
    action: 'Build services'
    displayName: 'Build docker image'


# - task: DockerCompose@0
#   inputs:
#     containerregistrytype: 'Azure Container Registry'
#     azureSubscription: 'NHSAPP-BuyingCatalogue'
#     azureContainerRegistry: '{"loginServer":"gpitfutureaksdev.azurecr.io", "id" : "/subscriptions/7b12a8a2-f06f-456f-b6f9-aa2d92e0b2ec/resourceGroups/gpitfuture-aks-dev/providers/Microsoft.ContainerRegistry/registries/gpitfutureaksdev"}'
#     dockerComposeFile: '**/docker-compose.yml'
#     action: 'Push services'
#     displayName: 'Publish docker image'
