# Node.js with webpack
# Build a Node.js project using the webpack CLI.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

# no PR builds on this file
pr: none

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - script: |
      npm install -g webpack webpack-cli --save-dev
      npm install
      npm build
    displayName: 'NPM install'

  - script: |
      npx webpack --config webpack.config.js
    displayName: 'NPX Webpack'

  - script: |
      npm run test
    displayName: 'Unit test'

  - script: |
      npm run test:integration
    displayName: 'Integration test'

  - task: CopyFiles@2
    inputs:
      Contents: '**'
      TargetFolder: '$(build.artifactstagingdirectory)/publicbrowse'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/publicbrowse'
      ArtifactName: 'publicbrowse'
      publishLocation: 'Container'