{% from 'components/tag/macro.njk' import tag %}

{% macro covid19SolutionCard(params) %}

  <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-covid19">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        {{ tag({
          dataTestId: 'solution-card-covid19-tag',
          text: 'Coronavirus',
          classes: 'bc-c-tag-foundation nhsuk-u-margin-bottom-4'
        }) }}

        <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
          <a href="{{ params.solution.viewSolutionUrl }}">
            {{ params.solution.name }}
          </a>
        </h3>

        <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
          {{ params.solution.supplierName }}
        </h4>

        <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
          {{ params.solution.summary }}
        </p>

        <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
          <a href="{{ params.solution.viewSolutionUrl }}">View this solution</a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third">
        <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-covid19-title">
          {{ params.solution.covid19.title }}
        </h5>
        <ul data-test-id="solution-card-covid19-list">
          {% for listItem in params.solution.covid19.list %}
            <li data-test-id="covid19-list-item" class="nhsuk-u-font-size-16">
              {{ listItem }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


{% endmacro %}
