{% include 'includes/partials/head.njk' %}
{% include 'includes/header.njk' %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">

    {% block body %}{% endblock %}

  </main>
</div>

{% include 'includes/footer.njk' %}
{% include 'includes/partials/foot.njk' %}
