{% include 'includes/partials/head.njk' %}
{% include 'includes/header.njk' %}

<div class="nhsuk-u-width-full">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent">

    {% block body %}{% endblock %}

  </main>
</div>

{% include 'includes/footer.njk' %}
{% include 'includes/partials/foot.njk' %}
