{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from 'sections/view-solution/macro.njk' import viewSolution %}

{% block body %}
  <div class="nhsuk-width-container nhsuk-u-margin-top-5">
    <div data-test-id="view-solution-page-back-link" class="nhsuk-u-margin-bottom-5">
      {{ backLink({
        "href": "./",
        "text": "Go back to previous page"
      }) }}
    </div>

    {{ viewSolution({
      sections: sections,
      solutionHeader: solutionHeader
    }) }}
  </div>
{% endblock %}
