{% from '../components/view-question-title.njk' import viewQuestionTitle %}
{% from '../components/view-question-data-text.njk' import viewQuestionDataText %}
{% from '../components/view-question-data-link.njk' import viewQuestionDataLink %}

{% macro viewSolutionDescription(section) %}
  {% if section %}
    <div data-test-id="view-solution-description">
      <div class="bc-c-title-block">
        <h3 class="nhsuk-u-margin-bottom-2">Solution description</h3>
      </div>
      <div class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-left-3">
        {% if section.answers.summary %}
          <div data-test-id="view-section-question-summary">
              {{ viewQuestionTitle('summary', 'Summary') }}
              {{ viewQuestionDataText('summary', section.answers.summary) }}
          </div>
        {% elseif section.answers.description %}
          <div data-test-id="view-section-question-description">
              {{ viewQuestionTitle('description', 'About the solution') }}
              {{ viewQuestionDataText('description', section.answers.description) }}
          </div>
        {% endif %}
        
        {% if section.answers.link %}
          <div data-test-id="view-section-question-link" class="nhsuk-u-margin-top-4">
            {{ viewQuestionDataLink(section.answers.link) }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}