{% from '../components/view-question-title.njk' import viewQuestionTitle %}
{% from '../components/view-question-data-text.njk' import viewQuestionDataText %}

{% macro viewSolutionContactDetails(section) %}
  {% if section %}
    <div data-test-id="view-solution-contact-details">
      <div class="nhsuk_title">
        <h3>Contact details</h3>
      </div>

      {% if section.answers['contact-1'] %}
        <div data-test-id="view-section-question-contact-1" class="nhsuk-u-margin-bottom-4">
            {{ viewQuestionTitle('contact-1', 'Contact 1') }}
            {{ viewQuestionDataText('department-name', section.answers['contact-1']['department-name']) }}
            {{ viewQuestionDataText('contact-name', section.answers['contact-1']['contact-name']) }}
            {{ viewQuestionDataText('phone-number', section.answers['contact-1']['phone-number']) }}
            {{ viewQuestionDataText('email-address', section.answers['contact-1']['email-address']) }}

        </div>
      {% endif %}

      {% if section.answers['contact-2'] %}
        <div data-test-id="view-section-question-contact-2" class="nhsuk-u-margin-bottom-4">
            {{ viewQuestionTitle('contact-2', 'Contact 2') }}
            {{ viewQuestionDataText('department-name', section.answers['contact-2']['department-name']) }}
            {{ viewQuestionDataText('contact-name', section.answers['contact-2']['contact-name']) }}
            {{ viewQuestionDataText('phone-number', section.answers['contact-2']['phone-number']) }}
            {{ viewQuestionDataText('email-address', section.answers['contact-2']['email-address']) }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}