{% from 'components/view-question-title/macro.njk' import viewQuestionTitle %}
{% from 'components/view-question-data-link/macro.njk' import viewQuestionDataLink %}
{% from 'components/view-question-data-text/macro.njk' import viewQuestionDataText %}

{% macro viewSolutionDescription(section) %}
  {% if section %}
    <div data-test-id="view-solution-description">
      <div class="bc-c-title-block">
        <h3 class="nhsuk-u-margin-bottom-2">Solution description</h3>
      </div>
      <div class="nhsuk-u-margin-bottom-4 nhsuk-u-padding-left-3">
        {% if section.answers.summary %}
          <div data-test-id="view-section-question-summary">
              {{ viewQuestionTitle({questionTitle: 'Summary'}) }}
              {{ viewQuestionDataText({
                questionId: 'summary', 
                questionData: section.answers.summary
              }) }}
          </div>
        {% endif %}

        {% if section.answers.description %}
          <div data-test-id="view-section-question-description" class="nhsuk-u-margin-top-4">
              {{ viewQuestionTitle({questionTitle: 'About the solution'}) }}
              {{ viewQuestionDataText({
                questionId: 'description', 
                questionData: section.answers.description
              }) }}
          </div>
        {% endif %}

        {% if section.answers.link %}
          <div data-test-id="view-section-question-link" class="nhsuk-u-margin-top-4">
            {{ viewQuestionDataLink({
              questionData: section.answers.link
            }) }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}