{% extends 'includes/layouts/contained.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from './components/solution-card.njk' import solutionCard %}
{% from 'components/general-page-description.njk' import generalPageDescription %}

{% block body %}
  <div class="nhsuk-grid-row nhsuk-width-container" data-test-id="solutions-list-body">

    <div class="nhsuk-u-padding-top-5" data-test-id="go-back-link">
      {{ backLink({
        "href": backLinkPath | addBaseUrlFilter,
        "text": "Go back to previous page"
      }) }}
    </div>

    {{ generalPageDescription({
      titleText: pageTitle,
      descriptionText: pageDescription
    }) }}

    <div data-test-id="solution-cards" class="nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-7">
      {% for solution in solutions %}
        {{ solutionCard({
          solution: solution
        }) }}
      {% endfor %}
      <div class="bc-t-border-top--blue" />
    </div>
  </div>
{% endblock %}
