{% extends 'includes/layouts/contained.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from './components/solution-card.njk' import solutionCard %}
{% from 'components/general-page-description.njk' import generalPageDescription %}
{% from 'components/button/macro.njk' import button %}

{% block body %}
  <div class="nhsuk-grid-row nhsuk-width-container" data-test-id="solutions-list-body">

    <div class="nhsuk-u-padding-top-5" data-test-id="go-back-link">
      {{ backLink({
        href: backLinkPath,
        text: "Go back"
      }) }}
    </div>

    {{ generalPageDescription({
      titleText: title,
      descriptionText: description
    }) }}

    {% if compareSolutionsDescription %}
      <div class="nhsuk-grid-row">
        <div data-test-id="compare-solutions-description" class="nhsuk-u-font-size-22 nhsuk-grid-column-two-thirds">{{ compareSolutionsDescription }}</div>
          <div data-test-id="compare-button" class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-5">
            {{ button({
              text: compareButtonText,
              classes: "nhsuk-button--secondary",
              href: "/solutions/compare/document"
            }) }}
          </div>
        </div>
      </div>
    {% endif %}

    <div data-test-id="solution-cards" class="nhsuk-u-margin-bottom-7 nhsuk-u-margin-top-7">
      {% for solution in solutions %}
        {{ solutionCard({
          solution: solution
        }) }}
      {% endfor %}
      <div class="bc-t-border-top--blue" />
    </div>
  </div>
{% endblock %}
