{% extends 'includes/layouts/fluid.njk' %}
{% from 'components/hero/macro.njk' import hero %}
{% from 'components/card/macro.njk' import card %}

{% block body %}
  <div class="nhsuk-hero" data-test-id="homepage-hero">
    <div class="nhsuk-hero__wrapper">
      <div class="nhsuk-width-container nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-padding-0">
          <h1 class="nhsuk-u-margin-bottom-3">{{ heroHeading }}</h1>
          <p class="nhsuk-heading-l nhsuk-u-font-size-22 nhsuk-u-margin-bottom-0 nhsuk-u-font-weight-normal">{{ heroText }}</p>
        </div>
      </div>
    </div>
  </div>
  <div data-test-id="homepage-promo-group" class="nhsuk-width-container nhsuk-u-padding-top-5">
    <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-top-5">

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="browse-promo">
        {{ card({
          "href": "/solutions",
          "headingLevel": 3,
          "clickable": "true",
          "heading": viewSolutionsPromoHeading,
          "description": viewSolutionsPromoDescription
        }) }}
      </li>

      {% if (config.showDfocvc === 'true') %}
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="dfocvc-card">
          {{ card({
            "href": "/solutions/dfocvc001",
            "headingLevel": 3,
            "clickable": "true",
            "heading": dfocvcHeading,
            "description": dfocvcDescription
          }) }}
        </li>
      {% endif %}

      {% if (config.showCovid19 === 'true') and (config.showDfocvc === 'false') %}
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="covid19-promo">
          {{ card({
            "href": "/solutions/covid19",
            "headingLevel": 3,
            "clickable": "true",
            "heading": covid19PromoHeading,
            "description": covid19PromoDescription
          }) }}
        </li>
      {% endif %}

      {% if (config.showCovid19 === 'true') %}
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="vaccinations-promo">
          {{ card({
            "href": "/solutions/vaccinations",
            "headingLevel": 3,
            "clickable": "true",
            "heading": vaccinationsPromoHeading,
            "description": vaccinationsPromoDescription
          }) }}
        </li>
      {% endif %}

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="guidance-promo">
        {{ card({
          "href": "/guide",
          "headingLevel": 3,
          "clickable": "true",
          "heading": guidePromoHeading,
          "description": guidePromoDescription
        }) }}
      </li>

      {% if (config.showOrderForm === 'true') %}
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="order-form-promo">
          {{ card({
            "href": orderFormUrl,
            "headingLevel": 3,
            "clickable": "true",
            "heading": orderFormPromoHeading,
            "description": orderFormPromoDescription
          }) }}
        </li>
      {% endif %}
      {% if (showAdminTile) %}
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="admin-promo">
          {{ card({
            "href": adminUrl,
            "headingLevel": 3,
            "clickable": "true",
            "heading": adminPromoHeading,
            "description": adminPromoDescription
          }) }}
        </li>
      {% endif %}
    </ul>

    <div data-test-id="about-us">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-5">
          <h3>{{ title }}</h3>
          {% for eachDescription in description %}
            <p>{{ eachDescription }}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
