{% extends 'includes/layouts/contained.njk' %}
{% from 'components/card/macro.njk' import card %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from '../../components/general-page-description.njk' import generalPageDescription %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="browse-solutions">
    <div class="nhsuk-u-padding-top-5" data-test-id="go-back-link">
      {{ backLink({
        "href": "./",
        "text": "Go back to previous page"
      }) }}
    </div>
    <div data-test-id="browse-solutions-heading">
      {{ generalPageDescription({
          titleText: title,
          descriptionText: description
      }) }}
    </div>
    <ul class="nhsuk-grid-row nhsuk-card-group" data-test-id="browse-solutions-promo-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="all-solutions-promo">
        {{ card({
          "href": "/solutions/capabilities-selector",
          "headingLevel": 3,
          "clickable": "true",
          "heading": allPromoHeading,
          "description": allPromoDescription
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="foundation-solutions-promo">
        {{ card({
          "href": "/solutions/foundation",
          "headingLevel": 3,
          "clickable": "true",
          "heading": foundationPromoHeading,
          "description": foundationPromoDescription
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item" data-test-id="compare-promo">
        {{ card({
          "href": "/solutions/compare",
          "headingLevel": 3,
          "clickable": "true",
          "heading": comparePromoHeading,
          "description": comparePromoDescription
        }) }}
      </li>
    </ul>
    <div class="nhsuk-u-padding-bottom-2" data-test-id="browse-solutions-buyers-guide-information">
      <p>Find more information in our <a data-test-id='buyers-guide-link' href="{{ '/guide'  }}">Buyer's Guide</a>.</p>
    </div>
  </div>
{% endblock %}
