{% extends 'includes/layout.njk' %}
{% from 'components/back-link/macro.njk' import backLink %}
{% from './components/subsection.njk' import subsection %}

{% block body %}
  <div class="nhsuk-grid-row nhsuk-width-container nhsuk-u-margin-bottom-8" data-test-id="guide-page-body">
    <div class="nhsuk-u-padding-top-5" data-test-id="go-back-link"> 
      {{ backLink({
        "href": "/",
        "text": "Go back to previous page"
      }) }}
    </div>
    <h1 class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4" data-test-id="guide-page-title">{{ title }}</h1>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-u-font-size-24" data-test-id="guide-page-description">{{ description }}</div>
        <div class="nhsuk-u-font-size-19" data-test-id="guide-page-subtext">{{ subsection({ description: subtext }) }}</div>
      </div
    </div>
    {% for section in sections %}
        <div class='bc-c-title-block nhsuk-grid-column-full nhsuk-u-margin-left-3'>
          <h2 class='nhsuk-u-margin-bottom-3' data-test-id="guide-section-title">{{ section.title }}</h2>
        </div>
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-font-size-19 nhsuk-u-margin-left-3">
          <div data-test-id="guide-section-description">{{ section.description }}</div>
          <div data-test-id="guide-section-subsection">
            {% for content in section.contents %}
              {{ subsection(content) }}
            {% endfor %}
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
