{% from 'components/tag/macro.njk' import tag %}

{% macro capabilityList(params) %}
  <div data-test-id="capability-list">
    <h5 class="nhsuk-u-font-size-22">Capabilities met</h5>
    <ul>
      {% for capability in params.capabilities %}
        <li data-test-id="capability-list-item" class="nhsuk-u-font-size-16">
          {{ capability }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}


{% macro solutionCard(params) %}

  <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card">
    <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% if params.solution.isFoundation %}
      {{ tag({
        dataTestId: 'solution-card-foundation',
        text: 'Foundation Solution Set',
        classes: 'bc-c-tag-foundation nhsuk-u-margin-bottom-4'
      }) }}
    {% endif %}

      <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
        <a href="{{ params.solution.viewSolutionUrl | addBaseUrlFilter }}">
          {{ params.solution.name }}
        </a>
      </h3>

      <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
        {{ params.solution.supplierName }}
      </h4>

      <p data-test-id="solution-card-summary" class="nhsuk-u-font-size-16">
        {{ params.solution.summary }}
      </p>

      <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <a href="{{ params.solution.viewSolutionUrl | addBaseUrlFilter }}">View this solution</a>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third" data-test-id="solution-card-capability-list">
      {{ capabilityList({
        capabilities: params.solution.capabilities
      }) }}
    </div>
    </div>
  </div>


{% endmacro %}
