{% from 'components/tag/macro.njk' import tag %}

{% macro vaccinationsSolutionCard(params) %}
  <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card-vaccinations">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">

        {{ tag({
          dataTestId: 'solution-card-vaccinations-tag',
          text: 'Coronavirus vaccinations',
          classes: 'bc-c-tag-foundation nhsuk-u-margin-bottom-4'
        }) }}

        <h3 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-size-32" data-test-id="solution-card-name">
          <a href="{{ params.solution.viewSolutionUrl }}">
            {{ params.solution.name }}
          </a>
        </h3>

        <h4 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-supplier">
          {{ params.solution.supplierName }}
        </h4>

        <div data-test-id="solution-card-summary">
          {% for summaryItem in params.solution.summary %}
            <p class="nhsuk-u-font-size-16">
              {{ summaryItem }}
            </p>
          {% endfor %}
        </div>

        <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
          <a href="{{ params.solution.viewSolutionUrl }}">View this solution<span class="nhsuk-u-visually-hidden"> for {{ params.solution.name }}</span></a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-half">
        <h5 class="nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2" data-test-id="solution-card-vaccinations-title">
          {{ params.solution.vaccinations.title }}
        </h5>
        <ul data-test-id="solution-card-vaccinations-list">
          {% for listItem in params.solution.vaccinations.list %}
            <li data-test-id="vaccinations-list-item" class="nhsuk-u-font-size-16">
              {{ listItem }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}
