{% from '../../views/components/view-question-data-bulletlist.njk' import viewQuestionDataBulletlist %}

{% macro viewSolutionCapabilities(section) %}
  {% if section %}
    <div data-test-id="view-solution-capabilities">
      <div class="bc-c-title-block">
        <h3 class="nhsuk-u-margin-bottom-2">Capabilities met</h3>
      </div>
      <div class="nhsuk-u-padding-left-3">
        {{ viewQuestionDataBulletlist(section.answers['capabilities-met']) }}
      </div>
    </div>
  {% endif %}
{% endmacro %}
