{% from 'components/panel/macro.njk' import panel %}
{% from 'components/label/macro.njk' import label %}
{% from './solution-card-section.njk' import solutionCardSection %}

{% macro solutionCard(solution, showTitle, showAnchor) %}

  {% macro solutionOrganisation(solution) %}
    <div data-test-id="solution-card-organisation">
      {{ solution.organisation }}
    </div>
  {% endmacro %}

  {% macro solutionName(solution, showTitle) %}
    {% if showTitle %}
      <h3 data-test-id="solution-card-name">
        <a href="./view/{{ solution.id }}">
          {{ solution.name }}
        </a>
      </h3>
    {% endif %}
  {% endmacro %}

  {% macro solutionId(solution) %}
    <div data-test-id="solution-card-id">
      {{ solution.id }}
    </div>
  {% endmacro %}

  {% macro sections(data, showAnchor) %}
    {% for sectionData in data %}
      {{ solutionCardSection(sectionData, showAnchor) }}
    {% endfor %}
  {% endmacro %}

  <div data-test-id="solution-card">
    {{ panel({
      "HTML": solutionOrganisation(solution) + solutionName(solution, showTitle) +
      "<div data-test-id='solution-sections'>"+ sections(solution.sections, showAnchor) +"</div>" +
      solutionId(solution)
    }) }}
  </div>
{% endmacro %}
