{% extends 'includes/layout.njk' %}
{% from 'components/promo/macro.njk' import promo %}
{% from 'components/back-link/macro.njk' import backLink %}

{% block body %}
  <div class="nhsuk-width-container" data-test-id="view-solutions">

    <div class="nhsuk-u-padding-top-5" data-test-id="go-back-link"> 
      {{ backLink({
        "href": "/",
        "text": "Go back"
      }) }}
    </div>

    </br>
    <h3>View Solutions</h3>
    <p>
      There are two types of Solution on the Buying Catalogue. You can choose to view Foundation Solutions only, or all that are available.
    </p>
  </div>
  <div class="nhsuk-grid-row nhsuk-promo-group nhsuk-width-container" data-test-id="browse-solutions-promo-group">
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item nhsuk-u-padding-left-0" data-test-id="foundation-solutions-promo">
      {{ promo({
        "href": "/solutions/foundation",
        "heading": "View Foundation Solutions",
        "classes": "nhsuk-u-margin-top-5",
        "description": "Find Solutions that meet the business needs of the Foundation Capabilities mandated by NHS England."
      }) }}
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item nhsuk-u-padding-left-0" data-test-id="all-solutions-promo">
      {{ promo({
        "href": "/solutions",
        "heading": "View all Solutions",
        "classes": "nhsuk-u-margin-top-5",
        "description": "Find out what Solutions the Buying Catalogue has to offer that can meet your needs."
      }) }}
    </div>
  </div>
{% endblock %}
