{% extends 'includes/layout.njk' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% from 'components/button/macro.njk' import button %}
{% from './solution-card.njk' import solutionCard %}
{% from './capability-filters.njk' import capabilityFilters %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>View all solutions</h1>

    <p class="nhsuk-body-l">
      All the solutions. Check them out.
    </p>

    <div class="nhsuk-grid-column-one-third">
      {% if capabilities %}
        <form method="post" action="/">
          {{ capabilityFilters(capabilities) }}
          {{ button({
            "text": "Apply Filter"
          }) }}
        </form>
      {% endif %}
    </div>

    <div class="nhsuk-grid-column-two-thirds" data-test-id="solution-cards">
    {% for solution in solutions %}
      {{ solutionCard(solution, true, false) }}
    {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
