{% extends 'includes/layout.njk' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% from './solution-card.njk' import solutionCard %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>View all solutions</h1>

    <p class="nhsuk-body-l">
      All the solutions. Check them out.
    </p>

    <div data-test-id="solution-cards">
    {% for solution in solutions %}
      {{ solutionCard(solution, true) }}
    {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
