{% from 'components/panel/macro.njk' import panel %}
{% from 'components/contents-list/macro.njk' import contentsList %}

{% macro pageContentsList(contents) %}

  {% macro showContents(contents) %}
    {% if contents.length > 0 %}
      {{ contentsList({
        items: contents
      }) }}
    {% endif %}
  {% endmacro %}

  {{ panel({
    "HTML": "<h4>Page Contents</h4>
    <div>"+ showContents(contents) +"</div>"
  }) }}
{% endmacro %}