{% extends 'includes/layout.njk' %}
{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% from './solution-card.njk' import solutionCard %}
{% from './page-contents-list.njk' import pageContentsList %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1>View Solution</h1>

    <p class="nhsuk-body-l">
      {{ solution.name }}
    </p>

    <div class="nhsuk-grid-column-one-quarter" data-test-id="page-contents-list">
      {{ pageContentsList() }}
    </div>

    <div class="nhsuk-grid-column-three-quarters" data-test-id="full-solution-card">
      {{ solutionCard(solution, false) }}
    </div>

  </div>
</div>
{% endblock %}
