{% from 'components/label/macro.njk' import label %}

{% macro sectionHeader(section) %}
  {% if section.showTitle %}
    {{
      label({
        "classes": "nhsuk-label--s",
        "text": section.name
      })
    }}
  {% endif %}
{% endmacro %}

{% macro sectionValue(value) %}
  {% if value | isArray %}
    {% for v in value %}
      <p>- {{ v }}</p>
    {% endfor %}
  {% else %}
    <p>{{ value }}</p>
  {% endif %}
{% endmacro %}

{% macro solutionCardSection(section) %}
  {{ label({
    "html": sectionHeader(section)+sectionValue(section.value) 
  }) }}
{% endmacro %}