{% from 'components/panel/macro.njk' import panel %}
{% from 'components/label/macro.njk' import label %}
{% from './solution-card-section.njk' import solutionCardSection %}

{% macro solutionCard(solution, showTitle, showAnchor) %}

  {% macro solutionTitle(solution, showTitle) %}
    {% if showTitle %}
      <h3>
        <a href="./view/{{ solution.id }}">
          {{ solution.name }}
        </a>
      </h3>
    {% endif %}
  {% endmacro %}

  {% macro sections(data, showAnchor) %}
    {% for sectionData in data %}
      {{ solutionCardSection(sectionData, showAnchor) }}
    {% endfor %}
  {% endmacro %}

  <div data-test-id="solution-card">
    {{ panel({
      "HTML": solutionTitle(solution, showTitle) +
      "<div data-test-id='solution-sections'>"+ sections(solution.sections, showAnchor) +"</div>"
    }) }}
  </div>
{% endmacro %}
