{% from './components/foundation-tag.njk' import foundationTag %}

{% macro capabilityList(capabilities) %}
  <div data-test-id="capability-list">
    <h4>Capabilities met</h4> 
    <ul>
      {% for capability in capabilities %}
        <li data-test-id="capability-list-item">
          {{ capability }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}


{% macro solutionCard(solution) %}

  <div class="bc-border-top-colour--blue nhsuk-grid-row nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-5" data-test-id="solution-card">
    <div class="nhsuk-grid-column-two-thirds">

      {{ foundationTag('solution-card', solution.isFoundation) }}

      <div data-test-id="solution-card-organisation">
        {{ solution.organisationName }}
      </div>
      
      <h3 data-test-id="solution-card-name">
        <a href="./view-solution/{{ solution.id }}">
          {{ solution.name }}
        </a>
      </h3>

      <div data-test-id="solution-card-summary">
        {{ solution.summary }}
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third" data-test-id="solution-card-capability-list">
      {{ capabilityList(solution.capabilities) }}
    </div>
  </div>


{% endmacro %}
