{% extends 'includes/layout.njk' %}
{% from './solution-card.njk' import solutionCard %}

{% block body %}
  <div class="nhsuk-grid-row nhsuk-width-container" data-test-id="browse-solutions-promo-group">
    <div class="nhsuk-u-margin-top-5" data-test-id="solution-cards">
    {% for solution in solutions %}
      {{ solutionCard(solution) }}
    {% endfor %}
    </div>
  </div>
{% endblock %}
