{% from 'components/tag/macro.njk' import tag %}

{% macro capabilityList(capabilities) %}
  <div data-test-id="capability-list">
    <h4>Capabilities met</h4> 
    <ul>
      {% for capability in capabilities %}
        <li data-test-id="capability-list-item" class="nhsuk-u-font-size-16">
          {{ capability }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}


{% macro solutionCard(solution) %}

  <div class="nhsuk-u-padding-bottom-5 nhsuk-u-padding-top-7 bc-t-border-top--blue" data-test-id="solution-card">
    <div <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% if solution.isFoundation %}
      {{ tag({
        dataTestIdIdentifier: 'solution-card-foundation', 
        text: 'Foundation Solution Set', 
        classes: 'bc-c-tag-foundation nhsuk-u-margin-bottom-4'
      }) }}
    {% endif %}

      <h2 class="nhsuk-u-margin-bottom-2" data-test-id="solution-card-name">
        <a href="{{ solution.viewSolutionUrl }}">
          {{ solution.name }}
        </a>
      </h2>

      <h5 class="nhsuk-u-margin-bottom-2 nhsuk-u-font-weight-bold nhsuk-u-font-size-22" data-test-id="solution-card-organisation">
        {{ solution.organisationName }}
      </h5>

      <div data-test-id="solution-card-summary">
        {{ solution.summary }}
      </div>

      <div data-test-id="solution-card-view-link" class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">
        <a href="{{ solution.viewSolutionUrl }}">View this solution</a>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third" data-test-id="solution-card-capability-list">
      {{ capabilityList(solution.capabilities) }}
    </div>
    </div>
  </div>


{% endmacro %}
